    <table>
        <tr>
            <td>First Name:</td>
            <td>
                <input type="text" name="firstName" id="firstName" value="<%= person.firstName %>" />
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>
                <input type="text" name="lastName" id="lastName" value="<%= person.lastName %>" />
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" name="email" id="email" value="<%= person.email %>" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit" id="submit" />
            </td>
        </tr>
    </table>