<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/subjects/<%=dataStudent.SubjectId%>/giveScore/<%=dataStudent.StudentId%>" method= "post">
		Score: <input type="text" name="score"><br>
		
		<input type="submit" value="Submit">
	</form>
</body>
</html>