<%- include('../partials/_header') %>

<a class="main-link" href="/students/add">Add student data</a>


<%- include('../partials/_table.ejs', { 
  columns: ['id','firstName', 'lastName', 'email', 'actions'],
  props: ['id', 'firstName', 'lastName', 'email']
})
%>

<%- include('../partials/_footer') %>
