<%- include('../partials/_header') %>

<a class="main-link" href="/subjects">Show all data</a>

<%- include('../partials/_form', { 
  columns: ['subjectName'],
  table: 'students',
  action: `/subjects/edit/${record.id}?_method=PUT`
}); %>

<%- include('../partials/_footer') %>