<%- include('../partials/_header') %>

<a class="main-link" href="/subjects/add">Add student data</a>

<%- include('../partials/_table.ejs', { 
  columns: ['id','subjectName', 'teacher', 'actions'],
  props: ['id', 'subjectName', 'teachers']
}) 
%>

<%- include('../partials/_footer') %>
